@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Darker+Grotesque:300,400,700,900&display=swap&subset=latin-ext');

$font-family__main: 'Darker Grotesque', sans-serif;
$font-family__code: Menlo, Consolas, Monaco, 'Ubuntu Mono', 'Liberation Mono',
  'Lucida Console', monospace;
$font-family__content: 'Crimson Text', sans-serif;

$line-height__body: 1.5;
$line-height__heading: 1.2;

$font-size__base: 18px;

$font-size__h1: 3.052;
$font-size__h2: 2.441;
$font-size__h3: 1.953;
$font-size__h4: 1.563;
$font-size__h5: 1.25;
$font-size__h6: 1.125;

$font-size__main: 1;
$font-size__code: 0.9375;
$font-size__blockquote: 1.5;
