.entry-nav {
  .sep-before {
    &:nth-child(2) {
      &:before {
        width: 2em;
        margin: 1em 0;
      }
    }
  }

  div {
    .icon {
      top: 5px;
    }
    a {
      display: block;
      @include font-size($font-size__h4);
      font-weight: 700;
    }

    span {
      display: block;
      font-style: normal;
      font-weight: normal;
      @include font-size(0.675);
    }
  }
}
